<h1>My restaurants</h1>

<ul id="restaurants">
  <% @restaurants.each do |restaurant| %>
    <li> <%= restaurant.name restaurant.address restaurant.phone_number restaurant.category %>  </li>
  <% end %>
</ul>

<%= link_to new_restaurant_path do %>
  <i class="fa fa-plus"></i> Add a new restaurant
<% end %>